body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  align-content: center;
  text-align: center;
}

#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#productos-container .product-card {
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

#productos-container .product-card img {
  max-width: 100%;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#carrito-container {
  align-content: center;
  width: auto;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.eliminar {
  background-color: red;
  border-radius: 3rem;
  padding: 0.2rem;
}

/* FORMULARIO */
.container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(232, 194, 44, 1) 0%,
    rgba(143, 119, 29, 1) 50%,
    rgba(255, 222, 89, 1) 100%
  );
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

input {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
}
